body {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #99CCCC ;
}

#title {
  margin top: 0px;
  margin-bottom: 0px;
}

.big-btn {
  text-align: center;
    width: 90px;
    height: 30px;
}

canvas {
  background-color: #9933CC;
  margin-top: 5px;
  border: 1px solid black;
  cursor: none;
}
